* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

video#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    line-height: 1.5;
}

.content p {
    margin-bottom: 10px;
}

button#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

button#myBtn:hover {
    background: #ddd;
    color: black;
}
