* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#wrapper {
    position: relative;
}

#wrapper .breadcumbs {
    width: 100%;
    height: 80px;
    background-color: #8fa1fb;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 20px;
}

#wrapper .breadcumbs ul {
    list-style-type: none;
}

#wrapper > .breadcumbs > ul > li {
    float: left;
}

#wrapper > .breadcumbs > ul > li.active {
    position: relative;
}

#wrapper > .breadcumbs > ul > li.active:before {
    content: "";
    position: absolute;
    top: 60px;
    width: 100%;
    height: 3px;
    background: #ff8ea1;
}

#wrapper > .breadcumbs > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.breadcumbs p {
    text-align: center;
    font-weight: bold;
}

#wrapper > .breadcumbs > ul > li > a > .fas {
    padding-bottom: 12px;
}

#wrapper > .breadcumbs > ul > li.active > a {
    color: #ff8ea1;
}

#wrapper > .breadcumbs > ul > li:hover > a {
    color: #ff8ea1;
    cursor: pointer;
}

#wrapper > .breadcumbs > ul > li.active > p {
    color: white;
}

#wrapper > .breadcumbs > ul > li:hover > p {
    color: white;
    cursor: pointer;
    border-bottom: 3px solid #ff8ea1;
    padding-bottom: 9px;
}

#wrapper .breadcumbs .home {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #ff8ea1;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

#wrapper .breadcumbs .home a {
    font-size: 25px;
    color: white;
}
