* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Menu create */

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}
