* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#video_container {
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: absolute;
    left: 0;
    bottom: -15%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px 100px 20px 100px;
}

section{
    background-color: white;
    padding: 20px 100px 50px 100px;
}




