@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    position: relative;
    width: 800px;
    height: 400px;
}

.main .layer1 {
    width: 100%;
    height: 100%;
    background-color: #4ef75c;
    transform: skewX(-30deg);
    box-shadow: 0 0 0 15px white;
    transition: 0.5s;
    z-index: 1;
}

.main .layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    z-index: -1;
}

.main:hover .layer2 {
    transform: scaleX(1.5) scaleY(0.8);
}

.content {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.content h1 {
    margin: 0;
    padding: 0;
    color: #262626;
    font-weight: 700;
}

.content p {
    font-weight: 400;
}

.content a {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
}
