@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: darksalmon;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

#news {
    width: 333px;
}

#news h2 {
    background-color: red;
    padding: 5px 15px;
}

#newsupdate {
    width: 300px;
    height: 150px;
    border: 1px dotted #ddd;
    padding: 15px;
    overflow-y: scroll;
}

#newsupdate ul {
    list-style-type: none;
}

#newsupdate ul li {
    float: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

#newsupdate ul li:last-child {
    border-bottom: 0;
}
